[Desktop Entry]
Type=Application
Name=Easeletch
GenericName=Image Editor
Comment=Balanced layered image editor
Exec=easeletch %f
Icon=easeletch
Terminal=false
Categories=Graphics;RasterGraphics;2DGraphics;
MimeType=image/png;image/jpeg;image/webp;image/bmp;
